<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <body>
        <%- include('navbar') %>
            <section class="section">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <div class="content has-text-centered">
                                <h2 class="title is-2">About Searchify</h2>
                                <p>
                                    Searchify is a revolutionary search engine that aims to provide users with
                                    lightning-fast and
                                    accurate search results. Our cutting-edge technology, powered by advanced algorithms
                                    and NoSQL
                                    database, ensures that you can find the information you need in no time.
                                </p>
                                <p>
                                    With Searchify, you can explore a vast array of topics, from news and articles to
                                    images and
                                    videos, all in one place. Our user-friendly interface and intuitive search
                                    functionality make it
                                    easy for you to navigate through the vast amount of information available on the
                                    web.
                                </p>
                                <p>
                                    Experience the power of searching with Searchify and unlock a world of knowledge at
                                    your
                                    fingertips.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('footer') %>
    </body>

</html>