<footer class="has-text-centered is-flex-align-items-flex-end mt-auto has-background-dark has-text-white">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <span class="icon">
                    <i class="fas fa-heart"></i>
                </span>
                <span>Secure Website Created By Kya-Kun & Dimas</span>
            </p>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>