<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <body>
        <%- include('navbar') %>
            <section class="hero is-primary is-bold is-fullheight">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns is-centered is-vcentered">
                            <div class="column is-8">
                                <h1 class="title is-1">
                                    Welcome to Searchify
                                </h1>
                                <h2 class="subtitle is-3">
                                    Discover the Power of Searching
                                </h2>
                                <p class="is-size-5">
                                    <strong>Fast and Efficient!</strong> Searchify is a lightning-fast search engine
                                    powered by NoSQL technology,
                                    providing quick and accurate search results to enhance your browsing experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('footer') %>
    </body>

</html>