<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <body>
        <%- include('navbar') %>
            <section class="section">
                <div class="container">
                    <div class="columns is-multiline">
                        <div class="column is-one-third">
                            <div class="service-item box" data-aos="fade-up" data-aos-delay="100">
                                <div class="service-icon">
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="service-description">
                                    <p class="title is-5">Fast and accurate search results</p>
                                    <p>Experience lightning-fast search results with high accuracy.</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="service-item box" data-aos="fade-up" data-aos-delay="200">
                                <div class="service-icon">
                                    <i class="fas fa-lightbulb"></i>
                                </div>
                                <div class="service-description">
                                    <p class="title is-5">Intelligent autocomplete suggestions</p>
                                    <p>Get smart suggestions as you type to speed up your search process.</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="service-item box" data-aos="fade-up" data-aos-delay="300">
                                <div class="service-icon">
                                    <i class="fas fa-image"></i>
                                </div>
                                <div class="service-description">
                                    <p class="title is-5">Image and video search</p>
                                    <p>Search for images and videos to find visual content quickly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="service-item box" data-aos="fade-up" data-aos-delay="400">
                                <div class="service-icon">
                                    <i class="fas fa-filter"></i>
                                </div>
                                <div class="service-description">
                                    <p class="title is-5">Advanced search filters</p>
                                    <p>Narrow down your search results using advanced filtering options.</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="service-item box" data-aos="fade-up" data-aos-delay="500">
                                <div class="service-icon">
                                    <i class="fas fa-newspaper"></i>
                                </div>
                                <div class="service-description">
                                    <p class="title is-5">Real-time updates and news</p>
                                    <p>Stay up-to-date with real-time updates and the latest news.</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="service-item box" data-aos="fade-up" data-aos-delay="600">
                                <div class="service-icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="service-description">
                                    <p class="title is-5">User-friendly interface</p>
                                    <p>Enjoy a user-friendly interface for a seamless search experience.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('footer') %>
    </body>

</html>